<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<array>
		<dict>
			<key>filter_id</key>
			<string>scale</string>
			<key>filter_name</key>
			<string>缩放</string>
			<key>filter_class</key>
			<string>CCGPUImageScaleFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>soul_out</string>
			<key>filter_name</key>
			<string>灵魂出窍</string>
			<key>filter_class</key>
			<string>CCGPUImageSoulOutFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>shake</string>
			<key>filter_name</key>
			<string>抖动</string>
			<key>filter_class</key>
			<string>CCGPUImageShakeFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>shine_white</string>
			<key>filter_name</key>
			<string>闪白</string>
			<key>filter_class</key>
			<string>CCGPUImageShineWhiteFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>glitch</string>
			<key>filter_name</key>
			<string>毛刺</string>
			<key>filter_class</key>
			<string>CCGPUImageGlitchFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>vertigo</string>
			<key>filter_name</key>
			<string>幻觉</string>
			<key>filter_class</key>
			<string>CCGPUImageVertigoFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>SplitScreen_2</string>
			<key>filter_name</key>
			<string>2分屏</string>
			<key>filter_class</key>
			<string>CCGPUImageSplitScreen2Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>SplitScreen_3</string>
			<key>filter_name</key>
			<string>3分屏</string>
			<key>filter_class</key>
			<string>CCGPUImageSplitScreen3Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>SplitScreen_4</string>
			<key>filter_name</key>
			<string>4分屏</string>
			<key>filter_class</key>
			<string>CCGPUImageSplitScreen4Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>SplitScreen_6</string>
			<key>filter_name</key>
			<string>6分屏</string>
			<key>filter_class</key>
			<string>CCGPUImageSplitScreen6Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>SplitScreen_9</string>
			<key>filter_name</key>
			<string>9分屏</string>
			<key>filter_class</key>
			<string>CCGPUImageSplitScreen9Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>Gray</string>
			<key>filter_name</key>
			<string>灰度</string>
			<key>filter_class</key>
			<string>CCGPUImageGrayFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>Reversal</string>
			<key>filter_name</key>
			<string>颠倒</string>
			<key>filter_class</key>
			<string>CCGPUImageReversalFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>Cirlce</string>
			<key>filter_name</key>
			<string>环形</string>
			<key>filter_class</key>
			<string>CCGPUImageCirlceFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>Mosaic</string>
			<key>filter_name</key>
			<string>马赛克</string>
			<key>filter_class</key>
			<string>CCGPUImageMosaicFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>HexagonMosaic</string>
			<key>filter_name</key>
			<string>六边形马赛克</string>
			<key>filter_class</key>
			<string>CCGPUImageHexagonMosaicFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>TriangularMosaic</string>
			<key>filter_name</key>
			<string>三角形马赛克</string>
			<key>filter_class</key>
			<string>CCGPUImageTriangularMosaicFilter</string>
		</dict>
	</array>
</dict>
</plist>
